language: node_js

node_js:
  - '8'

env:
  global:
   - FORCE_COLOR=1

cache:
  directories:
    - $HOME/.npm

install:
  - npm install

script:
  - npm run lint
  - npm run test

after_success:
  - bash <(curl -s https://codecov.io/bash)

jobs:
  include:
    - stage: test
    - stage: release
      script:
        - npm run build
        - npm run semantic-release
      before_deploy:
        - npm run typedoc
      deploy:
        skip_cleanup: true
        provider: surge
        project: ./typedoc/
        domain: cli-highlight.surge.sh

stages:
  - test
  - name: release
    if: branch = master AND type = push AND fork = false

branches:
  except:
   - /^v\d+\.\d+\.\d+$/
