name: build

on: [push, pull_request]

env:
  FORCE_COLOR: 3

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.15.1'
      - run: npm ci
      - run: npm run prettier
      - run: npm run eslint
      - run: npm run build
      - run: npm test
        env:
          OUTPUT_CODE_SAMPLES: true
      - run: bash <(curl -s https://codecov.io/bash)
        if: always()
      - name: release
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
        run: npm run semantic-release
